version: '3.3'

services:
  db:
    image: mysql
    
    deploy:
      replicas: 1
      placement:
        constraints: [node.role == manager]
      resources:
        reservations:
          memory: 128M
        limits:
          memory: 256M
    ports:
      - 3306:3306
    expose:
      # Opens port 3306 on the container
      - '3306'
    environment:
      MYSQL_USER: admin
      MYSQL_DATABASE: flask
      MYSQL_PASSWORD: 'password'
      # Password for root access
      MYSQL_ROOT_PASSWORD: 'password'
    networks:
      - appnet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - type: bind
        source: /opt/docker/volumes/mysql
        target: /var/lib/mysql

  adminer:
    image: adminer
    ports:
      - 8080:8080
    expose:
      # Opens port 3306 on the container
      - '8080'
    networks:
      - appnet

networks:
  appnet:
    external: true